/* Let's highlight canvas boundaries */
#gjs {
  border: 3px solid rgb(3, 86, 88);
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}
.gjs-pn-panel {
  position: relative;
}
.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.gjs-pn-views-container {
  box-shadow: initial;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  top: 40px;
  padding-top: 0;
  height: calc(100vh - 40px);
}
.gjs-pn-views-container,
.gjs-cv-canvas {
  transition: width 0.3s ease-in-out;
}
.code-panel .CodeMirror {
  height: calc(100% - 20px);
}
.gjs-pn-views {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0;
}
.editor-canvas {
  display: flex;
  flex-direction: column;
}
.column {
  min-height: 75px;
  flex-grow: 1;
  flex-basis: 100%;
  overflow: auto;
}
.panel__right {
  flex-basis: 250px;
  position: relative;
  overflow-y: auto;
  height: auto;
  padding-top: 52px;
}
.react-tabs__tab-list {
  border-bottom: 0px solid #aaa;
  padding: 6px 0px;
  background-color: #004c4c;
  position: absolute;
  width: 100%;
  top: 0px;
}
.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 6px;
}
.react-tabs__tab-panel--selected {
  padding-bottom: 100px;
}
.panel__left {
  flex-basis: 350px;
  position: relative;
  overflow-y: auto;
  height: auto;
  background-color: lawngreen;
}

::selection {
  background-color: #fff !important;
  color: #ffffff !important;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #004c4c;
}
::-webkit-scrollbar-thumb {
  background-color: #66b2b2;
}

/*Start Right Panel Block Feature Styling */

.gjs-block .gjs-block-label p {
  padding-bottom: 10px;
}

.gjs-block .gjs-block-label i.fa {
  font-size: xxx-large;
}

/*End  Right Panel Block Feature Styling */
