body {
  font-family: "Ubuntu";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: white;
  height: 100vh;
  background-color: white;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::selection {
  background-color: #379683 !important;
  color: #ffffff !important;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #379683;
}
::-webkit-scrollbar-thumb {
  background-color: #379683;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
